.required {
  font-size: 0.5rem;
  padding-top: 0.5em;
  display: inline-block;
  vertical-align: text-top;
  color: #ff3860;
}

.row {
  [class^="D-"], [class^="T-"], [class^="M-"], [class^="SM-"], [class^="XSM-"] {
    > .field {
      margin-top: 0.75rem;
    }
  }
}
