$colorDefault: #3273dc;

.react-select__control--is-focused,
.react-select__control--is-focused:hover {
  border-color: $colorDefault;
  box-shadow: 0 0 0 0.125em rgba($colorDefault, 0.25);
}

.is-danger {
  $color: #fb6b5b;
  .react-select__control {
    border-color: $color;
    &:hover {
      border-color: $color;
    }
  }

  .react-select__control--is-focused {
    border-color: $color;
    box-shadow: 0 0 0 0.125em rgba($color, 0.25);
  }
}

.is-success {
  $color: #26a69a;
  .react-select__control {
    border-color: $color;
    &:hover {
      border-color: $color;
    }
  }

  .react-select__control--is-focused {
    border-color: $color;
    box-shadow: 0 0 0 0.125em rgba($color, 0.25);
  }
}

.has-icons-left .react-select__value-container {
  padding-left: 2.25rem;
}

.select {
  .react-select__single-value + div,
  .react-select__placeholder + div,
  .react-select__value-container > div {
    margin-top: 0;
    margin-bottom: 0;
  }
  .react-select__dropdown-indicator {
    padding: 0;
  }
  .react-select__dropdown-indicator svg {
    opacity: 0;
  }
  .react-select__indicator-separator {
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .react-select__clear-indicator {
    padding: 3px;
    margin-right: 5px;
  }
}
