.select,
select {
  width: 100%;
}

.select.inline,
.select.inline select {
  width: auto;
  display: inline-block;
}

.select:not(.is-multiple)::after {
  border: 1px solid #333;
  border-right: 0;
  border-top: 0;
}
