@media screen and (min-width: 769px) {
  .modal-content {
    margin: 0 20px !important;
  }
}

section.modal-card-body:only-child {
  border-radius: 5px;
}

section.modal-card-body:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section.modal-card-body:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal {
  &.is-centered {
    text-align: center;

    .modal-card-foot {
      justify-content: center;
    }
  }

  &.fullscreen {
    .modal-card {
      width: 100%;
      height: 100%;
      max-height: none;

      .modal-card-head,
      .modal-card-foot {
        border-radius: 0;
      }
    }
  }
}

.modal-card-head button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal-card-foot {
  display: flex;

  &.is-centered {
    justify-content: center;
  }

  &.is-right {
    justify-content: flex-end;
  }
}
