.box-loading {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  visibility: hidden;
  opacity: 0;

  // @extend %fadeIn;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  .loading {
    position: absolute;
    padding: 0 40px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;

    @extend .font-title;

    &:before {
      @include loader;
      width: 40px;
      height: 40px;
      border-width: 3px;
      display: block;
      margin: 0 auto 20px;
    }
  }
}

.loading-fade-out {
  // @extend %fadeOut;
}

%fadeIn {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-play-state: running;
}

%fadeOut {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeOut;
  animation-play-state: running;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
