.pretty {
  font-size: 1rem;
}
.pretty.p-icon .state .icon {
  background: $primary;
  color: #fff;
  font-size: 0.7em;
  width: calc(1em + 7px);
  height: calc(1em + 7px);
  top: calc((0% - (100% - 1.5em)) - 13%);
}
.pretty .state label:before {
  border: 1px solid $primary;
}
.pretty.p-default input:checked ~ .state label:after {
  background-color: $primary !important;
}
.pretty input[disabled] ~ * {
  opacity: .2;
}

.box-field {
  .is-checkradio[type=checkbox] + label {
    display: block;
    padding: 0;
    padding-left: 2rem;
    margin: 0;
  }
}

.is-checkradio[type=checkbox] {
  &.only-contain + label {
    padding-left: 1.5rem;
    padding-right: 0;
    margin-right: 0;
  }
}